{% extends 'base.html' %}
{% from 'macros.html' import form_field %}

{% block content %}
<h2>巡检任务（maintance.xlsx）</h2>
<a style="color:red"># 请确保项目已关联设备</a><br>
<a style="color:red"># 项目信息填入"项目信息"表中</a><br>
<img src="/static/mantance-sheet-1.png" width="101px" height="191px"><br>
<a style="color:red"># 单元格数据不可用（=A1+B1）拼接</a><br>
<a style="color:red"># 任务名称字段重复则为同一个任务</a><br>
<a style="color:red"># 巡检任务填入"巡检任务"表中</a><br>
<img src="/static/mantance.png" width="750px" height="250px">

<form id=form1 method="post" enctype="multipart/form-data">

    {{ form.csrf_token }}
    {{ form_field(form.photo) }}
    <button class="submit-btn" >提交</button>
</form>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $(function() {
        $(".submit-btn").click(function() {
            $(this).text('已提交，请等待结果返回...');
            $(this).attr('disabled', true);
            $('#form1').submit();
        });
    });
</script>
{% endblock %}